$CUGOLD: #CFB87C;
$BLACK: #000000;
$DARKGREY: #565A5C;
$LIGHTGREY: #A2A4A3;

$leftArrow: "../img/leftArrow.svg";
$rightArrow: "../img/rightArrow.svg";
$downArrow: "../img/downArrow.svg";
$logo: "../img/logo.svg";
